# PROG8245-25S-Sec1 Lab 2
Erica Holden, 5490685

In [ ]:
import pandas as pd

## 1 Hello, Data!

In [ ]:
df = pd.read_csv('./data/salesrecords.csv')
print(df.head(3))

## 2 Pick the Right Container

## 3 Transaction Class and OO data structure

In [ ]:
class Transaction:
    def __init__(self, order_id, units_sold, unit_price, unit_cost, total_revenue, total_cost, total_profit):
        self.order_id = order_id
        self.units_sold = units_sold
        self.unit_price = unit_price
        self.unit_cost = unit_cost
        self.total_revenue = total_revenue
        self.total_cost = total_cost
        self.total_profit = total_profit

## 4 Bulk Loader

In [ ]:
def load_transactions(file_path):
    transactions = []
    df = pd.read_csv(file_path)
    for index, row in df.iterrows():
        transaction = Transaction(
            order_id=row['Order ID'],
            units_sold=row['Units Sold'],
            unit_price=row['Unit Price'],
            unit_cost=row['Unit Cost'],
            total_revenue=row['Total Revenue'],
            total_cost=row['Total Cost'],
            total_profit=row['Total Profit']
        )
        transactions.append(transaction)
    return transactions

## 5 Quick Profiling

## 6 Spot the Grime	Identify at least three dirty data cases

## 7 Cleaning Rules	Execute fixes inside clean(); show “before/after” counts

## 8 Transformations	For example: Parse coupon_code ➞ numeric discount (others apply)

## 9 Feature Engineering	For example: Add days_since_purchase

## 10 Mini-Aggregation	For example: Revenue per shipping_city (dict or pandas.groupby)

## 11 Serialization Checkpoint	Save cleaned data to JSON and Parquet

## 12 Soft Interview Reflection	Markdown: < 120 words explaining how OOP helped